/* All font is here*/
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Common styles */
.color-primary{
    color: #4E47FF;
}
.bg-color{
    background-color: #F5F8FF;
}
.btn{
    background-color: #4E47FF;
    color: #fff;
    font-size: 16px;
    font-family: "Raleway";
    border-radius: 10px;
    height: 48px;
    border: none;
    padding: 12px 36px;
}


/* Nav style */
header nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 50px 0;
}

.nav-logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

header .nav-section{
   margin: 155px 265px;
   
}
/* header style */
header{
    background-image: url("../images/Hero-bg.png");
    height: 700px;
}
header section h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: 0;
}
.btn-2{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
 /* Action Section Style*/

 .action-container{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 116px 160px 116px 140px;
    gap: 220px;
 }
 .action-collum{
    width: 50%;
 }
 .title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.sub-title{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37,36,50,.5);
    margin: 23px 0px;
}
 .action-image{
    border-radius: 48px;
 }

 /* Productive Users Section Style */
 .productive-user{
    margin: 0px 160px 140px 140px ;
    background-color: rgba(78, 71, 255, .1);
    border-radius: 24px;
    padding: 50px 142px;
 }
 .productive-user-heading{
    text-align: center;
    color: #252432;
    font-size: 38px;
    font-weight: bold;
 }
.user-data-container{
    display: flex;
    justify-content: center;
    gap: 158px;
    font-family: "Inter";
}
.user-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF; 
    margin: 0px;
}
.user-subtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}
