/* All font is here*/
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Common styles */
.color-primary{
    color: #4E47FF;
}
.bg-color{
    background-color: #F5F8FF;
}
.btn{
    background-color: #4E47FF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway";
    border-radius: 10px;
    height: 48px;
    border: none;
    padding: 12px 36px;
}
.btn:hover{
    background: rgba(230, 14, 78, 0.801);
    color: #161617;
    transition: background 1s ease-in;
    transition: color 1s ease-in;
}


/* Nav style */
header nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 50px 0;
}

.nav-logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

header .nav-section{
   margin: 155px 265px;
   
}
/* header style */
header{
    background-image: url("../images/Hero-bg.png");
    height: 700px;
}
header section h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: 0;
}
.btn-2{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
 /* Action Section Style*/

 .action-container{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 116px 160px 116px 140px;
    gap: 220px;
 }
 .action-collum{
    width: 50%;
 }
 .title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.sub-title{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37,36,50,.5);
    margin: 23px 0px;
}
 .action-image{
    border-radius: 48px;
 }

 /* Productive Users Section Style */
 .productive-user{
    margin: 0px 160px 0px 140px ;
    background-color: rgba(78, 71, 255, .1);
    border-radius: 24px;
    padding: 50px 142px;
 }
 .productive-user-heading{
    text-align: center;
    color: #252432;
    font-size: 38px;
    font-weight: bold;
 }
.user-data-container{
    display: flex;
    justify-content: center;
    gap: 158px;
    font-family: "Inter";
}
.user-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF; 
    margin: 0px;
}
.user-subtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

/* user feedback section style */
.User-feedback{
    margin: 117px 150px;
}
.feedback-title{
    text-align: center;
    margin: 0 0 50px 0;
}
.feedback-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feedback{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding: 24px;
}
.review{
    margin: 24px 0;
}
.review-title{
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 8px 0;
   
}
.review-comment{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.reviewer{
    display: flex;
    height: 46px;
}
.reviewer-img{
    border-radius: 50%;
    margin-right: 12px;
}
.reviewer-name{
    margin: 0;
    font-size: 20px;
    color: rgba(37,36,50,.5);
}
.review-date{
    margin: 8px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    color: rgba(37,36,50,.3);
}

/* ready to focus section style */

.focus-section-container{
    background-color: #fff;
    margin: 0 149px;
    padding: 71px 150px;
    border-radius: 14px;
}
.focus-div{
    text-align: center;
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.foces-description{
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}
.focus-img-container{
    display: flex;
    justify-content: center;
}
.focus-img{
    margin-top: 20px;
    border-radius: 48px;
}

/* get in touch section style */

.get-in-touch{
    margin: 92px 150px 14px;
    padding: 71px 0;
    display: flex;
    justify-content: space-between;
    gap: 0px;
}
.get-in-touch-collum{
    width: 50%;
}
.get-in-touch-title{
    font-size: 90px;
    font-weight: bold;  
}
label{
    font-size: 18px;
    font-weight: 450;
    display: block;
    margin-bottom: 10px;
}
[placeholder]{
    font-size: 20px;
    height: 70px;
    background-color: #fff;
    display: block;
    width: calc(100% - 32px);
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding-left: 32px;
}
textarea{
    resize: none;
    padding: 20px 0px 100px 0px;
}
[type="submit"]{
    width: 100%;
}

/* footer style */
footer .footer-container{
    text-align: center;
    padding: 104px 455px;
}
.footer-title{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin: 0;
}
.footer-description{
    font-size: 18px;
    font-weight: 400;
    color: #8987A1;
}
.footer-nav-list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 18px;
}
.footer-nav-list a{
    color: #8987A1;
    text-decoration: none;
}